<div class="author">
    <h1 class="author__heading">Hello, My name Phat.</h1>
    <p class="author__body">Web developer</p>

</div>

<img src="/img/back.jpg" alt="some" class="hero-image" width="981" height="528">

<section class="articles">

    <h2 class="articles__heading">Lastest Post</h2>

    <ul>
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>
    </ul>
    <a href="#" class="pagination">&lt; View Oldest Posts</a>

</section>